:host *{
  transition: all .3s ease-in-out;
}

mat-nav-list{
  padding: 30px 0;
}

.menu-item{
  margin: 10px 10px;
  width: auto;
}


.nested-menu-item{
  border: none;
  margin-left:10px;
}

.indented{
  --mat-list-list-item-leading-icon-start-space:48px;
}
