@use '@angular/material' as mat;
@use 'styles.scss' as styles;
@include styles.component-base-styles;

.content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content h1{
  margin-top: var(--px-separator-20);
  margin-inline: var(--px-separator-20);
}

mat-card{
  display: flex;
  flex-direction: column  ;
  gap: 40px;
  padding: 10px;
}

mat-card-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 !important;
}

mat-card-content > span{
  display: flex;
  align-items: center;
  gap: 10px;
  height: fit-content;
}

mat-card-content > span > p, mat-card-content > span > span{
  padding: 15px 20px;
}

mat-card-content > span > p{
  border-radius: 100px;
  flex-basis:20%;
}

mat-card mat-card-content > span > span{
  border-radius: 100px;
  flex-basis: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-word;
  gap: 10px;
  height: 100%;
}

mat-card:nth-child(2) mat-card-content > span > span, mat-card:nth-child(3) mat-card-content > span > span{
  display: flex;
}

mat-card > button{
  display: flex;
  align-self: end;
}


@media (max-width: 1100px){

  mat-card-content{
    gap: 20px;
  }

  mat-card-content > span{
    flex-direction: column;
    gap: 5px;
  }

  mat-card-content > span > p, mat-card-content > span > span{
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 0;
  }

  mat-card-content > span > p{
    border-radius: 10px 10px 6px 6px;
    flex-basis: initial;
    width: 100%;
  }

  mat-card-content > span > span{
    border-radius: 6px 6px 10px 10px;
    flex-basis: initial;
    width: 100%;
  }
}