<div class="content">
  <h1>Datos del gimnasio</h1>
  <mat-card appearance="outlined">
    <mat-card-content>
      <span>
        <p>Nombre: </p>
        <span>
          <p>{{gimnasioData?.nombre}}</p>
          <div class="actions"></div>
        </span>
      </span>
      <span>
        <p>Email: </p>
        <span>
          <p>{{gimnasioData?.email}}</p>
          <div class="actions"></div>
        </span>
      </span>
      <span>
        <p>Dirección: </p>
        <span>
          <p>{{gimnasioData?.direccion}}</p>
          <div class="actions"></div>
        </span>
      </span>
      <span>
        <p>Celular Whatsapp: </p>
        <span>
          <p>{{gimnasioData?.celular_whatsapp}}</p>
          <div class="actions">
            <a matTooltip="Llamar" [href]="'tel:' + gimnasioData?.celular_whatsapp">
              <mat-icon color="primary">phone</mat-icon>
            </a>
          </div>
        </span>
      </span>
      <span>
        <p>Sitio Web: </p>
        <span>
          <p>{{gimnasioData?.sitio_web}}</p>
          <div class="actions">
            <a matTooltip="Copiar" [cdkCopyToClipboard]="gimnasioData?.sitio_web || ''">
              <mat-icon color="primary">content_copy</mat-icon>
            </a>
            <a matTooltip="Abrir sitio web" [href]="gimnasioData?.sitio_web" target="_blank">
              <mat-icon color="primary">open_in_new</mat-icon>
            </a>
          </div>
        </span>
      </span>
    </mat-card-content>
    <button color="primary" mat-flat-button (click)="editarGimnasio()">
      <mat-icon>edit</mat-icon>
      Editar
    </button>
  </mat-card>
</div>
