<div class="content">
  <h1>Datos del gimnasio</h1>
  <mat-card appearance="outlined">
    <mat-card-content>
      <span>
        <p class="item-data-title">Nombre: </p>
        <span class="item-data-info">
          <p>{{gimnasioData?.nombre}}</p>
          <div class="actions"></div>
        </span>
      </span>
      <span>
        <p class="item-data-title">Email: </p>
        <span class="item-data-info">
          <p>{{gimnasioData?.email}}</p>
          <div class="actions"></div>
        </span>
      </span>
      <span>
        <p class="item-data-title">Dirección: </p>
        <span class="item-data-info">
          <p>{{gimnasioData?.direccion}}</p>
          <div class="actions"></div>
        </span>
      </span>
      <span>
        <p class="item-data-title">Celular Whatsapp: </p>
        <span class="item-data-info">
          <p>{{gimnasioData?.celular_whatsapp}}</p>
          <div class="actions">
            <a matTooltip="Llamar" [href]="'tel:' + gimnasioData?.celular_whatsapp">
              <mat-icon color="secondary">phone</mat-icon>
            </a>
          </div>
        </span>
      </span>
      <span>
        <p class="item-data-title">Sitio Web: </p>
        <span class="item-data-info">
          <p>{{gimnasioData?.sitio_web}}</p>
          <div class="actions">
            <a matTooltip="Copiar" [cdkCopyToClipboard]="gimnasioData?.sitio_web || ''">
              <mat-icon color="primary">content_copy</mat-icon>
            </a>
            <a matTooltip="Abrir sitio web" [href]="gimnasioData?.sitio_web" target="_blank">
              <mat-icon color="primary" fontIcon="open_in_new"></mat-icon>
            </a>
          </div>
        </span>
      </span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="editarGimnasio()">
        <mat-icon>edit</mat-icon>
        Editar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
