<div class="content">
  <h1>Gestión de ejercicios</h1>
  <section>
    @for(ejercicioData of gimnasioEjercicios; track ejercicioData.id){
      <mat-card appearance="outlined">
        <mat-card-content>
          <span>
            <p class="item-data-title">Nombre: </p>
            <span class="item-data-info">
              <p>{{ejercicioData?.nombre}}</p>
            </span>
          </span>
          <span>
            <p class="item-data-title">Grupo Muscular: </p>
            <span class="item-data-info">
              <p>{{ejercicioData?.grupo_muscular}}</p>
            </span>
          </span>
          <span>
            <p class="item-data-title">Descripción: </p>
            <span class="item-data-info">
              <p>{{ejercicioData?.descripcion}}</p>
            </span>
          </span>
        </mat-card-content>
        <mat-card-actions class="actions">
          <a matTooltip="Editar Ejercicio" (click)="editarEjercicio(ejercicioData)">
            <mat-icon color="accent">edit</mat-icon>
          </a>
          <a matTooltip="Eliminar Ejercicio" (click)="eliminarEjercicio(ejercicioData)">
            <mat-icon color="warn">delete</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
      <mat-divider></mat-divider>
    }
  </section>
  <mat-card-actions>
    <button matButton="filled" (click)="crearEjercicio()">Crear ejercicio</button>
  </mat-card-actions>
</div>