:host{
  display: flex;
  justify-content: center;
  width: 100%;
}

.content{
  width: 100%;
}

.content > h1{
  margin:20px 0;
}

.content > section:nth-child(1) > form{
  display: flex;
  flex-direction: column;
}

.actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: strech;
  justify-content:  center;
  background-color: #212121;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  width: 100%;
}

.actions > a{
  cursor: pointer;
  height: fit-content;
  display: flex;
}

.content > section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content > button {
  margin: 20px 0;
  display: flex;
  justify-self: end;
}

mat-card{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  padding: 10px;
}

mat-card-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 0 !important;
  flex: 1;
}

mat-card-content > span{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  flex: 1;
  height: fit-content;
}

mat-card-content > span > p, mat-card-content > span > span{
  padding: 15px 20px;
  width: 100%;
}

mat-card-content > span > p{
  background-color: #212121;
  border-radius: 10px 6px 6px 10px;
}

mat-card-content > span > span{
  background-color: #303030;
  border-radius: 6px 10px 10px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-word;
  gap: 10px;
}

mat-card > button{
  display: flex;
  align-self: end;
}

@media (min-width: 768px) {
  .content{
    width: 70%;
  }
}

@media (max-width: 768px){

  mat-card{
    flex-direction: column;
    gap: 10px;
  }

  .actions{
    flex-direction: row;
    width: 100%;
  }

  mat-card-content{
    gap: 5px;
    flex-direction: row;
  }

  mat-card-content > span{
    flex-direction: column;
    gap: 5px;
    flex: 1;
  }

  mat-card-content > span > p, mat-card-content > span > span{
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 0;
  }

  mat-card-content > span > p{
    border-radius: 10px 10px 6px 6px;
    flex-basis: initial;
    width: 100%;
  }

  mat-card-content > span > span{
    border-radius: 6px 6px 10px 10px;
    flex-basis: initial;
    width: 100%;
  }
}