@use '@angular/material' as mat;
@use 'styles.scss' as styles;
@include styles.component-base-styles;

:host *{
  @include mat.expansion-overrides((
    container-background-color: var(--theme-neutral-4),
  ));
}

.controls-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

 mat-step{
  display: flex;
  flex-direction: column;
  gap: 40px ;
 }

 .step-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 20px 0;
 }

 .mat-stepper-actions{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
 }

 .step-container > button{
  width: fit-content;
  align-self: center;
 }