@use '@angular/material' as mat;
@use '../src/app/styles/m3-theme.scss';

@include mat.elevation-classes();
@include mat.app-background();

html {
  @include mat.all-component-themes(m3-theme.$dark-theme);
}

:root {
    --theme-primary:#cc0000;
    --theme-secondary:#3e5501;
    --theme-tertiary:#3e495f;
    --theme-warn: #ae1c1c;
    --theme-primary-10:#{mat.get-theme-color(m3-theme.$dark-theme, primary, 10)};
    --theme-primary-20:#{mat.get-theme-color(m3-theme.$dark-theme, primary, 20)};
    --theme-primary-30:#{mat.get-theme-color(m3-theme.$dark-theme, primary, 30)};
    --theme-secondary-10:#{mat.get-theme-color(m3-theme.$dark-theme, secondary, 10)};
    --theme-tertiary-10:#{mat.get-theme-color(m3-theme.$dark-theme, tertiary, 10)};
    --theme-error-10:#{mat.get-theme-color(m3-theme.$dark-theme, error, 10)};
    --theme-neutral-4:#{mat.get-theme-color(m3-theme.$dark-theme, neutral, 4)};
    --theme-neutral-6:#{mat.get-theme-color(m3-theme.$dark-theme, neutral, 6)};
    --theme-neutral-10:#{mat.get-theme-color(m3-theme.$dark-theme, neutral, 10)};
    --theme-neutral-12:#{mat.get-theme-color(m3-theme.$dark-theme, neutral, 12)};
    --theme-neutral-17:#{mat.get-theme-color(m3-theme.$dark-theme, neutral, 17)};
    --theme-neutral-variant-10:#{mat.get-theme-color(m3-theme.$dark-theme, neutral-variant, 10)};
    --theme-neutral-variant-20:#{mat.get-theme-color(m3-theme.$dark-theme, neutral-variant, 20)};
    --theme-neutral-variant-30:#{mat.get-theme-color(m3-theme.$dark-theme, neutral-variant, 30)};
    --theme-neutral-variant-90:#{mat.get-theme-color(m3-theme.$dark-theme, neutral-variant, 90)};

  @include mat.list-overrides((
    active-indicator-color: mat.get-theme-color(m3-theme.$dark-theme, primary-container),
  ));

  @include mat.dialog-overrides((
    container-color: mat.get-theme-color(m3-theme.$dark-theme, neutral, 10),
  ));

  @include mat.button-overrides((
    filled-container-color: mat.get-theme-color(m3-theme.$dark-theme, primary, 25),
  ));

  @include mat.sidenav-overrides((
    content-background-color: mat.get-theme-color(m3-theme.$dark-theme, neutral, 4),
  ));

  @include mat.card-overrides((
    elevated-container-color: mat.get-theme-color(m3-theme.$dark-theme, neutral, 6),
  ));

  @include mat.snack-bar-overrides((
    container-color: mat.get-theme-color(m3-theme.$dark-theme, neutral, 12),
    supporting-text-color: mat.get-theme-color(m3-theme.$dark-theme, neutral-variant, 90)
  ));

}


// @import 'media';
/* You can add global styles to this file, and also import other style files */


@media (max-width:768px) {
  mat-stepper{
    padding: 15px !important;
  }
  .mat-vertical-stepper-header{
    padding-inline:0 !important;
  }
  .mat-vertical-content-container{
    margin-left: 10px !important;
  }

  .mat-vertical-content{
    padding: 0 10px 10px 10px !important;
  }
}

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; --primary-color:#cc0000;}
html{
  --mat-card-outlined-container-shape: 12px !important;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.mat-mdc-dialog-surface{
  border-radius: 30px !important;
}

mat-dialog-actions{
  padding: 20px 24px !important;
  justify-content: end !important;
}



// Customs \\

mat-stepper{
  border-radius:12px;
  border: 1px solid var(--theme-neutral-variant-30);
  padding: 10px;
}

mat-icon.primary-color{
  color: var(--theme-primary) !important;
}

mat-icon.secondary-color{
  color: var(--theme-secondary-10) !important;
}

mat-icon.tertiary-color{
  color: var(--theme-tertiary-10) !important;
}

mat-icon.error-color{
  color: var(--theme-error-10) !important;
}

mat-icon.warn-color{
  color: var(--theme-warn) !important;
}

a{
  color: currentColor;
}

.item-data-title{
  background-color:var(--theme-neutral-4);
}

.item-data-info{
  background-color:var(--theme-neutral-12);
}

// Customs \\





// Mixins \\

@mixin component-base-styles{
  :host{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .content{
    width: 100%;
  }

  .content > h1{
    margin:20px 0;
  }

  @media (min-width: 768px) {
    .content{
      width: 70%;
    }
  }
}

// Mixins \\