.content{
  width: 100%;
}

.content section{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content section h1{
  color: white;
  margin: 20px 0;
}

.content section > form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.content section > form > div:nth-child(1){
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

 .content section > form > div:nth-child(2){
  display: flex;
  flex-direction: column;
}

.content section > form > div:nth-child(2) > form{
  margin-bottom: 50px;
}

.content section > form > div:nth-child(2) > form > div > div, .content section > form > div:nth-child(2) > form > div > div{
  display: flex;
  gap: 10px;
  width: 100%;
}

.content section > form > div:nth-child(2) > form > div > div > mat-form-field, .content section > form > div:nth-child(2) > form > div > div > mat-form-field{
  flex: 1;
}

.content section > form > div:nth-child(2) > form > div, .content section > form > div:nth-child(2) > form > div{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.content section > form > div:nth-child(2) > form > div > button{
  padding: 10px;
  height: 100%;
}


.content section > form > div:nth-child(3){
  display: flex;
  gap: 10px;
  align-self: end;
}


@media (max-width:768px){
  .content section > form > div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .content section > form > div:nth-child(2) > form > div > div, .content section > form > div:nth-child(2) > form > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .content section > form > div:nth-child(2) > form, .content section > form > div:nth-child(2) > form{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .content section > form > div:nth-child(2) > form > div > div > mat-form-field, .content section > form > div:nth-child(2) > form > div > div > mat-form-field{
    flex: initial;
    width: 100%;
  }

}