@use '@angular/material' as mat;
@use 'styles.scss' as styles;
@include styles.dialog-base-styles;

.fields{
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

 .contacts-conditions{
  display: flex;
  flex-direction: column;
}

.contacts-conditions > form{
  margin-bottom: 50px;
}

.contacts-conditions > form > div > div, .contacts-conditions > form > div > div{
  display: flex;
  gap: 10px;
  width: 100%;
}

.contacts-conditions > form > div > div > mat-form-field, .contacts-conditions > form > div > div > mat-form-field{
  flex: 1;
}

.contacts-conditions > form > div, .contacts-conditions > form > div{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.contacts-conditions > form > div > button{
  padding: 10px;
  height: 100%;
}

@media (max-width:1100px){
  .fields{
    display: flex;
    column-gap: auto;
    grid-template-columns: auto;
  }

  .contacts-conditions > form > div > div, .contacts-conditions > form > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .contacts-conditions > form, .contacts-conditions > form{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .contacts-conditions > form > div > div > mat-form-field, .contacts-conditions > form > div > div > mat-form-field{
    flex: initial;
    width: 100%;
  }

}